/* do not touch here */
#content-container {
    background-color: var(--content_background_color);
    color: var(--color1);

    /* to avoid missing background */
    min-height: 100vh;
}
.content-component {
    margin: 0px;

    /*to escape nav bar*/
    padding-top: 65px;

    width: 100%;
    height: 100%;
}
/* do not touch until here */
/*
	first lines for any content page must be
	<div id={this.props.selected.toLowerCase() + "-content"} class="content-component">
*/

.project {
    margin: 20px;
    padding: 5px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.project:hover {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}