#content-container {
    background-color: var(--color3);
    color: var(--color1);
}

.content-component {
    margin: 0px;
    padding: 30px;
    padding-top: 40px;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}