.container_style
{
    background-color: var(--color3);
}

.component_style 
{
    background-color: var(--color3);
    color: var(--color5);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    display: inline-block;
}

.container_style>a:hover
{
    background-color: var(--color2);
    cursor: pointer;
}

.container_style>.active
{
    background-color: var(--color2);
    cursor: none;
}