/* for nav bar conatiner */

@import url(http://fonts.googleapis.com/css?family=Capriola);

/* all #nav-container* must be flex-row-container */

#nav-container
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    /* this will keep the nav bar always at the top */
    z-index:9999;

    /* given you shaded pretty black type background */
    background: var(--nav_bar_background_color);
    background: -moz-linear-gradient(top, var(--nav_bar_background_color_light) 0%, var(--nav_bar_background_color) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--nav_bar_background_color_light)), color-stop(100%, var(--nav_bar_background_color)));
	background: -webkit-linear-gradient(top, var(--nav_bar_background_color_light) 0%, var(--nav_bar_background_color) 100%);
	background: -o-linear-gradient(top, var(--nav_bar_background_color_light) 0%, var(--nav_bar_background_color) 100%);
	background: -ms-linear-gradient(top, var(--nav_bar_background_color_light) 0%, var(--nav_bar_background_color) 100%);
	background: linear-gradient(to bottom, var(--nav_bar_background_color_light) 0%, var(--nav_bar_background_color) 100%);

	border-bottom-left-radius: 3px;
  	border-bottom-right-radius: 3px;
  	border-bottom: 5px solid var(--nav_selected_background_color);

  	justify-content: space-between;
}

#nav-container-left-buttons
{
	background: transparent;
	justify-content: flex-start;
}

#nav-container-right-buttons
{
	background: transparent;
	justify-content: flex-end;
}

/* for changing nav buttons while hovering or is clicked*/

#nav-container a
{
	/*remove underlines from anchor tags of all nav links*/
    text-decoration: none;
}

#nav-container a:hover,
#nav-container .active
{
    color: var(--nav_selected_font_color);

    background: var(--nav_selected_background_color);
	background: -moz-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--nav_selected_background_color_light)), color-stop(100%, var(--nav_selected_background_color)));
	background: -webkit-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -o-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -ms-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: linear-gradient(to bottom, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
}

#nav-container a:hover
{
    cursor: pointer;
}

#nav-container .active
{
    cursor: none;
}

/* for any generic inactive nav button */

.nav-button
{
	font-family: Capriola, Helvetica, sans-serif;
    color: var(--nav_button_font_color);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    display: inline-block;

    /* given you shaded pretty button background */
    background: inherit;
}