/* for nav bar conatiner */

.nav-container-style
{
    background-color: var(--color6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    transition: transform 0.4s ease;
}

.nav-container-style a:hover
{
    background-color: var(--color5);
    color: var(--color7);
    cursor: pointer;
}

.nav-container-style .active
{
    background-color: var(--color5);
    color: var(--color7);
    cursor: none;
}

.hide-nav
{
    transform: translateY(-100px);
}

/* for nav buttons */

.nav-button
{
    background-color: var(--color6);
    color: var(--color5);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    display: inline-block;
    width: 10%;
}