.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.flex-centered-item {
    margin: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.no-padding-and-no-margin {
    padding: 0;
    margin: 0;
}

.inline-block-vertically-middle {
    display: inline-block;
    vertical-align: middle;
}

#root
{
    --color1: rgba(5, 102, 141, 1);
    --color2: rgba(66, 122, 161, 1);
    --color3: rgba(235, 242, 250, 1);
    --color4: rgba(103, 148, 54, 1);
    --color5: rgba(165, 190, 0, 1);
    --color6: #1B9653;
    --color7: #0D2818;
    --nav_button_font_color: #eeeeee;
    --nav_bar_background_color: #222222;
    --nav_bar_background_color_light: #555555;
    --nav_selected_background_color: #0f71ba;
    --nav_selected_background_color_light: #3fa4f0;
    --nav_selected_font_color: #ffffff;
}