.chat-widget {
	position: fixed;

	right: 20px;
	bottom: 20px;

	/* this will keep the chat always at the top */
    z-index:9999;

    font-family: Capriola, Helvetica, sans-serif;
}

.chat-widget .chat-container {
	background-color: white;
	width: 280px;
	border-radius: 4%;
	padding: 5px;
}

.chat-container .chat-header {
	justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}

.chat-container .chat-content {
	height: 300px;
	overflow: auto;
	padding: 5px;
}

.chat-container .chat-input {
	font-style: inherit;
}

.chat-container .chat-button {
	color: var(--nav_selected_font_color);

    background: var(--nav_selected_background_color);
	background: -moz-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--nav_selected_background_color_light)), color-stop(100%, var(--nav_selected_background_color)));
	background: -webkit-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -o-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: -ms-linear-gradient(top, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
	background: linear-gradient(to bottom, var(--nav_selected_background_color_light) 0%, var(--nav_selected_background_color) 100%);
}

.chat-container .login-signup-content {
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.login-signup-content .lbl
{
	font-family: Capriola, Helvetica, sans-serif;
	margin-top: 10px;
	align-self: flex-start;
}

.login-signup-content .chat-button-container {
	font-family: Capriola, Helvetica, sans-serif;
	margin-top: 10px;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.chat-button-container .chat-button {
	width: 75px;
}