.content-root-background {
    background-color: var(--content_background_color);
}

.content-root-container {
    /* we want the padding to be included in the specified min height */
    box-sizing: border-box;
    /* this padding allows us to get away with mav box height */
    padding-top: 70px;
    padding-bottom: 20px;

    /* this calc allows me to remove the miniscule horizontal scroll on pages that need the vertical scroll bar */
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
}

.set_sub_content_background_color
{
	background-color: var(--sub_content_background_color);
}

.generic-content-box-border{
	/*border: 4px solid #c3c3c3;*/
    border-radius: 1%;
}

.generic-content-box-always-emboss-border {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}

.generic-content-box-hovering-emboss-border:hover {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}