.project-lister-contaier{
	display: grid;

	/* This line below funcking works out of the box
	   honestly I do not really understand how this works, neither do I care to
	   Please check out the video at : 
	   https://www.youtube.com/watch?v=bam83Xv4VMA
	   for more information */
	/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/

	/* using media queries to counter smaller result sizes in search */
	grid-template-columns: repeat(3, 1fr);

	margin-left: 10%;
	margin-right: 10%;
}
/* tablet */
@media (max-width: 768px) {
	.project-lister-contaier {
		grid-template-columns: repeat(2, 1fr);
	}
}
/* mobile */
@media (max-width: 500px) {
	.project-lister-contaier {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 5%;
		margin-right: 5%;
	}
}


.project-lister-element{
	margin: 8%;
    padding: 4%;/*padding and margin from almost the 80% screen widthed parent
    			i.e. of the grid container showing the lister*/
    color: var(--font_color_lighter);
}

/* 2% padding are from their parent container project-lister-element's width 
which is decided by the grid that is formed*/

.project-lister-element-name{
	text-align: center;
	font-family: Capriola, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 2%;
    margin: 8px 0;
}

.project-lister-element-image{
	padding: 2%;
	width: 96%;
}

.project-lister-element-description{
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: normal;
	font-size: 15px;
	padding: 2%;
	margin: 8px 0;
}