/* Tool tip that pops up as soon as you hover over the tooltip-wrap*/
.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip-content {
  display: none;
  border: 1px solid #777777;
  width: max-content;
  position: absolute;
  top: 100%;
  left: 5%;
  color: black;
  background-color: #fff;
  padding: .5em;
  z-index: 200;
  font: initial;
}

.tooltip-container:hover .tooltip-content {
  display: block;
}

/* usage 
  <div class="tooltip-container">

    <div>
      <name or icon of the tool>
    </div>

    <div class="tooltip-content">
      <this is the content that will show up in white background and no font styling
       if you hover on tooltip-container>
    </div>
  </div>
*/