/* Things break and you cry if you remove this, learnt this the hard way */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* for font */
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

/* classes for easy setup for flex and grid containers */

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.flex-centered-item {
    margin: auto;
}

.grid-container {
	display: grid;
}

.no-padding-and-no-margin {
    padding: 0;
    margin: 0;
}

.inline-block-vertically-middle {
    display: inline-block;
    vertical-align: middle;
}

/* Tool tip that pops up as soon as you hover over the tooltip-wrap*/
/*START*/
.tooltip-container {
  position: relative;
}

.tooltip-container .tooltip-content {
  display: none;
  border: 1px solid #777777;
  width: max-content;
  position: absolute;
  top: 100%;
  left: 5%;
  color: black;
  background-color: #fff;
  padding: .5em;
  z-index: 100;
  font: initial;
}

.tooltip-container:hover .tooltip-content {
  display: block;
}
/*START*/

/* Tool tip that pops up as soon as you hover over the tooltip-wrap*/
/*START*/
.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown-content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: max-content;
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 100;
}
/* the dropdown content can show up, even if you add the show-content class to it*/
.dropdown-container.show-dropdown-content .dropdown-content, 
.dropdown-container:hover .dropdown-content {
  display: block;
}
/*START*/

/* variables for colors */

#root
{
    --color1: rgba(5, 102, 141, 1);
    --color2: rgba(66, 122, 161, 1);
    --color3: rgba(235, 242, 250, 1);
    --color4: rgba(103, 148, 54, 1);
    --color5: rgba(165, 190, 0, 1);
    --color7: #0D2818;

    --nav_button_font_color: #eeeeee;
    --nav_bar_background_color: #222222;
    --nav_bar_background_color_light: #555555;
    --nav_selected_background_color: #0f71ba;
    --nav_selected_background_color_light: #3fa4f0;
    --nav_selected_font_color: #ffffff;

    --content_background_color: #E3E2Df;

    --sub_content_background_color: #f1f1f1;

    --font_color_lighter: #323232;
    --font_color_greenish: #1B9653;
}

/* screen size specific utilities */
/*.hidden-only-tablet-mobile {}.flex-row-container-only-tablet-mobile {}.flex-col-container-only-tablet-mobile {}*/
@media (max-width: 768px) {
  .hidden-only-tablet-mobile {
    display: none;
  }
  .flex-row-container-only-tablet-mobile {
    display: flex;
    flex-direction: row;
  }
  .flex-col-container-only-tablet-mobile {
    display: flex;
    flex-direction: column;
  }
}

/*.hidden-only-mobile {}.flex-row-container-only-mobile {}.flex-col-container-only-mobile {}*/
@media (max-width: 500px) {
  .hidden-only-mobile {
    display: none;
  }
  .flex-row-container-only-mobile {
    display: flex;
    flex-direction: row;
  }
  .flex-col-container-only-mobile {
    display: flex;
    flex-direction: column;
  }
}